.main {
    background-image: url("../../../../../public/assets/img/home.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:80vh;
}
mat-card {
  margin: 1vmax;
}

img {
  width: 2vmax;
}
